# ----------------------
# Configuration API
# ----------------------
VITE_API_BASE_URL=http://localhost/PFF/digitalgardn-backend/public

# ----------------------
# Configuration Reverb
# ----------------------
VITE_REVERB_APP_KEY=testkey
VITE_REVERB_HOST=127.0.0.1
VITE_REVERB_PORT=8080
VITE_REVERB_SCHEME=http
